@import '../../scss/mixins/_all';

.menu-wrapper{
    text-align: right;
    line-height: 80px;

    @include font-size(1.8);

    a{
        display: inline-block;
        color: #fff;
        margin: 0 15px;
        &:hover,&:active,&:focus{
            text-decoration: none;
        }

    }

    .cart{
        @include font-size(3);
        position: relative;
        .badge{
            padding: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            display: block;
            background-color: #ff7675;

            position: absolute;
            top: 15px;
            right: -10px;
        }
    }
}

.menu-overlay{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;

    top: 0;
    left: 0;

    background-color: rgba(0,0,0,.7);

    z-index: 10;

    .menuCloser{
        position: absolute;

        top: 50px;
        right: 50px;
        color: #fff;
        @include font-size(3);

        &:hover,&:active,&:focus{
            text-decoration: none;
        }
    }

    .menu{
        position: absolute;
        top: 100px;
        left: 50%;

        transform: translate(-50%, 0);

        padding: 0;
        margin: 0;
        list-style: none;

        min-height: 100%;
        li {
            text-align: center;
            margin: 15px 0;
        }
        a{
            @include font-size(3);
            color: #fff;
        }
    }
}