@import '../../../scss/mixins/_all';
.react-tabs{
    margin-top: 50px;

    .pb-button{
        line-height: 25px;
    }
}
.react-tabs__tab-list{
    list-style: none;
    margin: 0;
    padding: 0;

    text-align: center;
}

.react-tabs__tab{
    display: inline-block;
    cursor: pointer;
    padding: 20px 30px;
    margin: 0 10px;

    @include border-radius(4px);

    &:hover, &.react-tabs__tab--selected{
        background-color: #008EF9;
        color: #fff;
    }
}

.react-tabs__tab-panel{
    margin-top: 30px;
    @include font-size(1.8);
    line-height: 35px;
}

.comment-box{
    padding: 20px;
    border: 1px solid #eee;
    position: relative;

    @include border-radius(4px);
    &:not(:last-child){
        margin-bottom: 30px;
    }

    .comment-trash{
        position: absolute;
        top: 20px;
        right: 20px;
        @include font-size(2.2);
        cursor: pointer;
        color: #f00;
    }
}